@using Application.Contracts.Dtos.User

@model List<UserDto>

@{
    Layout = "_LayoutAccount";
}
<div class="container mt-5 px-2">
    <a href="https://localhost:7071/" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>

    <div class="mb-2 d-flex justify-content-between align-items-center">
    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">

            <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="20%">User Name</th>
                    <th scope="col" width="10%">Name</th>
                    <th scope="col" width="10%">Role</th>
                    <th scope="col" width="20%">Phone Number</th>
                    <th scope="col" width="10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <th scope="row"><input class="form-check-input" type="checkbox"></th>
                        
                        <td><span class="ms-1">@item.UserName</span></td>
                        <td><span class="ms-1">@item.Name</span></td>
                        <td><span class="ms-1">@item.Role</span></td>
                        <td><span class="ms-1">@item.PhoneNumber</span></td>
                        <td>
                            <a class="btn btn-success" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>

    </div>

</div>
<style>
    .search {
        top: 6px;
        left: 10px;
    }

    .form-control {
        border: none;
        padding-left: 32px;
    }

        .form-control:focus {
            border: none;
            box-shadow: none;
        }

    .green {
        color: green;
    }

    .btn-warning {
        color: #ffffff;
        background-color: #ee5435;
        border-color: #ee5435;
        border-radius: 1px
    }

        .btn-warning:hover {
            color: #ffffff;
            background-color: #ff2b00;
            border-color: #ff2b00;
            border-radius: 1px
        }
</style>