@using Application.Contracts.Dtos
@using Application.Contracts.Dtos.Product
@model Paging<ProductDto, RequestGetListFilterProductDto>

<div class="container">

    <div id="content" class="my-5">
        
        <h5 class="my-3">Menu:</h5>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            @if (Model.Items != null)
            {
                foreach(var item in Model.Items)
                {
                    <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="C:\Users\TranVanTiep\Downloads\z3613478398931_92699473511f794a4f2f9e4530ce4fc3.jpg" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.Name</h5>
                                        <!-- Product price-->
                                        @item.Price USD
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add cart</a></div>
                                </div>
                            </div>
                        </div>
                }
            }        
        </div>

        <div class="bg-white rounded d-flex align-items-center justify-content-center" id="header">
            <div class="ml-auto mt-3 mr-2">
                @if(Model?.Items != null)
                {
                    if(Model?.Payload != null)
                    {
                        <form asp-controller="Home" asp-action="Index" method="post">
                            <input type="hidden" asp-for="@Model.Payload.Keyword" value="@Model.Payload.Keyword"/>
                            <nav aria-label="Page navigation example">
                              @for(int i = 1; i <= (int)Model.PageCount; i++)
                                {
                                    <input  asp-for="@Model.Payload.Skip" value="@Model.Payload.Skip" />
                                    <ul class="pagination">
                                        <li class="page-item active"><input type="submit" class="page-link" value="@i"/></li>
                                    </ul>                                               
                                }  
                            </nav> 
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Home" asp-action="Index" method="post">
                            <nav aria-label="Page navigation example">
                              @for(int i = 1; i <= Model.PageCount; i++)
                                {
                                    <ul class="pagination">
                                        <li class="page-item active"><input type="submit" class="page-link" value="@i"/></li>
                                    </ul>                                               
                                }  
                            </nav> 
                    </form>
                    }

                                        
                }
            </div>
        </div>
    </div>

   <input type="file" id="file" accept="image/jpeg, image/png, image/jpg">
    <img id="image" width="100px" height="100px">
</div>

<style>
    #display_image{
        width: 375px;
        height: 250px;
        border: 1px solid black
    }
</style>         

<script>
    const file = document.querySelector("#file")
file.addEventListener("change", function() {
  const reader = new FileReader()
  reader.addEventListener("load", () => {
    document.querySelector("#image").src = reader.result
  })
  reader.readAsDataURL(this.files[0]);
})
</script>