@using Application.Contracts.Dtos
@using Application.Contracts.Dtos.Product
@model Paging<ProductDto, RequestGetListFilterProductDto>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="container">

    <div id="content" class="my-5">
        
        <h5 class="my-3">Menu:</h5>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            @if (Model.Items != null)
            {
                foreach(var item in Model.Items)
                {
                    <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="@item.UrlImg" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.Name</h5>
                                        <!-- Product price-->
                                        @item.Price USD
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">

                                    <a class="btn btn-outline-dark mt-auto" onclick="PrdOnClick('@item.Id')">Add cart</a>
                                </div>
                                </div>
                            </div>
                        </div>
                }
            }        
        </div>

        <div class="bg-white rounded d-flex align-items-center justify-content-center" id="header">
            <div class="ml-auto mt-3 mr-2">
                @if(Model?.Items != null)
                {
                    if(Model?.Payload != null)
                    {
                        <form asp-controller="Home" asp-action="Index" method="post">
                            <input hidden id="demo" asp-for="@Model.Payload.Skip" />
                            <input hidden asp-for="@Model.Payload.Keyword" />
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li class="page-item active" style="margin-left:1px"><input type="submit" id="@i" class="page-link" onclick="changePage(@i)" value="@i" /></li>
                                    }
                                </ul>
                            </nav>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Home" asp-action="Index" method="post">
                            <input hidden id="demo" asp-for="@Model.Payload.Skip" />
                            <input hidden asp-for="@Model.Payload.Keyword" />
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li class="page-item active"><input type="submit" id="@i" class="page-link" onclick="changePage(@i)" value="@i" /></li>
                                    }
                                </ul>                                 
                            </nav> 
                        </form>
                    }

                                        
                }
            </div>
        </div>
    </div>
</div>
<script>
    const file = document.querySelector("#file")
    file.addEventListener("change", function () {
        const reader = new FileReader()
        reader.addEventListener("load", () => {
            document.querySelector("#image").src = reader.result
        })
        reader.readAsDataURL(this.files[0]);
    })

    function changePage(Page) {
        console.log(Page);
        document.getElementById('demo').value = Page;
        document.getElementById(Page).style.background = black;
    }
    function PrdOnClick(Id) {
        console.log(Id);
        $.ajax({
            url: '/Cart/AddItem',
            type: 'POST',
            data: { "Id": Id}
        })
    }
</script>