@using Application.Contracts.Dtos.Product
@using Microsoft.AspNetCore.Identity
@model List<ProductCacheDto>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "_LayoutCart";
}

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have @Model.Count items in your cart</p>
                  </div>
                  <div>
                    <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                        class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                  </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img
                                src="@item.UrlImg"
                                class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                            </div>
                            <div class="ms-3">
                              <h5>@item.Name</h5>
                              <p class="small mb-0">Count: @item.Count</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">                            
                            <div style="width: 80px;">
                              <h5 class="mb-0">@(item.Count * item.Price)$</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                }                

              </div>

              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <form asp-controller="Payment" asp-action="CreateUrl" class="mt-4">
                         <div class="form-group">
                            <label for="ordertype">Payments</label>
                            <select id="PaymentOptions" class="form-control">
                                <option value="0">Payment on delivery</option>
                                <option value="1">VnPay</option>
                            </select>
                        </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">@(Model.Sum(x => x.Price * x.Count))$</p>
                    </div>

                    <button type="button" class="btn btn-info btn-block btn-lg" onclick="payment('@((await UserManager.GetUserAsync(User)).Id) ')">
                      <div class="d-flex justify-content-between">
                        <span>@(Model.Sum(x => x.Price * x.Count) * 23000) VNĐ</span>
                      </div>
                    </button>
                    </form>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    function payment(UserId){
        var valuePayment = document.getElementById('PaymentOptions').value;
        console.log(valuePayment);
        console.log(UserId);
    }
    
</script>